
{% extends 'base.html' %}
{% block title %}
    <title>Update Uav</title>
{% endblock title %}

{% block content %}


<script src ="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <div class="container">
      <form method="POST" class="post-form" >
        {% csrf_token %}
      {% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}

    <div class="container">


<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>


  <div class="form-group row align-items-center">
    <label for="id_uav" class="col-sm-2 col-form-label">Uav Model:</label>
    <div class="col-sm-4">
     <input type="text"  name="uav" id="id_uav"  required maxlength="25" value="{{ renteduav.uav }}" />
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="id_date" class="col-sm-2 col-form-label">Uav Date:</label>
    <div class="col-sm-4">
     <input type="text"  name="date" id="id_date"  required maxlength="25" value="{{ renteduav.date }}" />
    </div>
  </div>

  <div class="form-group row align-items-center">
    <label for="id_member" class="col-sm-2 col-form-label">Uav Weight:</label>
    <div class="col-sm-4">
     <input type="text" name="member" id="id_member" required maxlength="15" value="{{ renteduav.member }}" />
    </div>
  </div>


   
  </div>


    <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-info">Update</button>
    <a href="/uavs" class="btn btn-info">Cancel</a>

    </div>
    </div>

    </div>

</form>
    </div>
{% block scripting %}
<script>
  $( function() {
    $( "#id_edob" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: '1950:2050',
      dateFormat: 'yy-mm-dd',
      defaultDate:'2019-06-08'
    });
  } );
</script>

 <script>
     $(document).ready(function () {
     $('.dropdown-toggle').dropdown();
     });
</script>
<script>
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script>
{% endblock %}

{% endblock content %}





